@use "./../../assets/styles/variables" as *;

.checklist {
    border: 0px;
    background-color: $quartenernary-color;
    padding: 0px 0px 0px 0px;

    &__section-title {
        background-color: $quinary-color;
        padding: 0px 0px;
        margin: 0px;
        font-family: "Parisienne";
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: none;
    }

    &__product-type {
        padding: 0px 0px;
        font-family: "Poppins";
        border: 0px;
        width: 100%;
        background-color: $quartenernary-color;
    }
}

@media screen and (min-width:768px) {
    .checklist {
        border: 0px;
        background-color: $quartenernary-color;
        padding: 0px 0px 20px 0px;

        &__section-title {
            background-color: $quinary-color;
            padding: 0px 0px;
            margin: 0px;
            font-family: "Parisienne";
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: none;

        }

        &__product-type {
            padding: 0px 0px;
            font-family: "Poppins";
            border: 0px;
            width: 100%;
            background-color: $quartenernary-color;
        }
    }
}