@use "./../../assets/styles/variables" as *;

.makeupBack {
    background-color: $secondary-color;
    width: 90vw;
    max-width: 300px;
    height: 400px;
    border-radius: 10px 10PX 0PX 0PX;
    display: grid;
    font-family: Poppins;
    grid-template-columns: 1;
    grid-template-rows: 100px 300px;


    &__green {
        background-image: linear-gradient(lighten($senary-color, 3%), white, lighten($senary-color, 3%));
    }

    &__purple {
        background-image: linear-gradient(lighten($septenary-color, 7%), white, lighten($septenary-color, 9%))
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description-text {
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
        overflow-y: scroll;
        text-align: center;
    }

    &__svg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--empty {
            fill: transparent;
            stroke: $nonary-color;
            stroke-width: 50px;
        }

        &--filled {
            fill: $nonary-color
        }

    }

}

@media screen and (min-width:768px) {
    .makeupBack {
        width: 275px;
    }
}