@use "./../../assets/styles/variables"as*;
.pop-up {
    width: 300px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white, lighten($primary-color, 1%));
    justify-content: center;
    height: auto;
    border-radius: 20px;
    font-family: Quicksand;
    text-align: center;
    position: absolute;
    z-index: 2;
    font-size: 24px;

    &__title {
        font-family: "Parisienne";
        font-size: 37px;
    }

    &__section {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    &__input {
        height: 35px;
        border-radius: 15px;
        border: 4px solid $secondary-color;
        margin: 15px 0px;
    }

    &__button {
        font-family: Quicksand;
        font-size: 24px;
        background-image: linear-gradient($secondary-color, lighten($septenary-color, 1%));
        border: none;
        padding: 9px;
        border-radius: 15px;

    }
}

@media screen and (min-width:768px) {
    .pop-up {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        width: 300px;
        height: auto;
        border-radius: 20px;
    }
}