@use "./../../assets/styles/variables" as*;

.button {
    color: $teriary-color;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    border: none;
    font-family: Quicksand;
    border-radius: 10px 10px 0px 0px;

    &--primary {
        background-image: linear-gradient(white, lighten($septenary-color,1%))
        
    }

    &--secondary {
        background-image: linear-gradient(white, $senary-color);
    }


}

@media screen and (min-width:768px){
    .button {
        padding: 10px;
        font-size: 24px;
        height: 50px;
        font-family: Quicksand;

        border: none;
        width: 33%;
        border-radius: 10px 10px 0px 0px;
    

    
    
    }
}