$primary-color:rgb(226, 255, 227);

$secondary-color:rgb(228, 186, 238);
$teriary-color:rgb(12, 40, 18);
$quartenernary-color:rgb(231, 226, 255);
$quinary-color:rgb(232, 255, 234);
$senary-color:rgb(210, 255, 210);
$septenary-color:rgb(192, 178, 255);
$octinary-color:rgb(222, 247, 255);
$nonary-color:pink